<div id="project_show">
  <h1><%= @project.title %></h1>
  <table>
    <tr><td>
  <div id="total-visitors">
    <p class="b">Total Visitors: </p>
    <%= @project.visitors.count %>
  </div></td><td>
  <div id="unique-vistors">
    <p class="b">Unique Visitors: </p>
    <%= unique_by_factor(:ip).length %>
  </div></td><td>
  <div id="num-clicks">
    <p class="b">On average people interact with your page <%= @num_clicks %> times </p>
  </div></tr>
    <tr><td>
  <div id="geolocation">
    <p class="b">Cities: </p>
    <svg id="cities_chart"></svg>
    <ul>
    <% unique_by_factor(:city).each do |visitor| %>
      <li><%= visitor.city %>: <%= visitors_where(:city, visitor.city).length %></li>
    <% end %></ul>
  </div></td><td>
  <div id="popular-links">
    <p class="b">Where people go from here: </p>
    <svg id="links_chart"></svg>

  </div></td><td>
  <div id="duration_stay">
    <p class="b">Length of stay: </p>
    <p>Average Visit: <%= @average_stay %> minutes
    <p><i>Number of visitors and how long they stayed in minutes</i></p>
    <svg id="duration_chart"></svg>
  </div></td></table>

</div>
