<!DOCTYPE html>
<html>
<head>
  <title>PixieReport</title>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span id="signin"><%= render partial: 'users/signin' %></span>
<span id="PixieReport">Pixie Report</span>

<%= yield %>

</body>
</html>
